<!-- lesson call modal-->
<div class="modal fade" id="details" tabindex="-1" role="dialog" aria-labelledby="details" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <!-- modal-header -->
            <div class="modal-header">
                <h5 class="modal-title" id="detailsTitle">Detalles de la convocatoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!-- /modal-header -->

            <!-- modal-body -->
            <div class="modal-body">
                <h4 class="mb-3"><strong>{{lesson.title}}</strong></h4>
                
                <div class="row mb-4">
                    <div class="col-3">
                        <strong>Resumen:</strong>
                    </div>
                    <div class="col-9">
                        <p *ngFor="let text of lesson.resume.split('\n')" class="text-break">
                            {{text}}
                        </p>
                    </div>
                </div>

                <div *ngIf="lesson.call.interested.length > 0" class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <strong>Interesados en participar:</strong>
                            </div>
                        </div>
                        <div class="card mt-2">
                            <div class="card-body p-1">
                                <div *ngFor="let interested of lesson.call.interested" class="row mb-1">

                                    <div class="col-auto pe-0">
                                        <a class="text-primary">
                                            <button [routerLink]="['/perfil', interested._id]"
                                                class="btn flex-shrink-0 rounded-circle  overflow-hidden p-0"
                                                style="width: 40px; height:40px;" data-bs-dismiss="modal">
                                                <img *ngIf="!interested.picture" class="img-fluid"
                                                    src="assets/images/user-default.png">
                                                <img *ngIf="interested.picture" class="img-fluid"
                                                    src="{{this.url+'get-image-user/'+ interested.picture}}">
                                            </button>
                                        </a>
                                    </div>

                                    <div class="col rounded px-2">
                                        <h6 class="mb-1">
                                            <a [routerLink]="['/perfil', interested._id]" class="text-primary"
                                                data-bs-dismiss="modal">
                                                <strong>
                                                    {{interested.name}} {{interested.surname}}
                                                </strong>
                                            </a>
                                            <br>
                                            <span *ngIf="interested.role"
                                                class="text-muted">{{profile_label[interested.role].label}}</span>
                                        </h6>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /modal-body -->

            <!-- modal-footer -->
            <div class="modal-footer">
                <ng-container *ngIf="!hasJoined(lesson); else leaveGroup">
                    <button class="btn btn-success me-2" title="Unirse" (click)="editLesson(lesson, 'add')">
                        <i class="fas fa-user-plus"></i> Unirse
                    </button>
                </ng-container>
                <ng-template #leaveGroup>
                    <button class="btn btn-danger me-2" title="Retirarse" data-bs-toggle="modal" data-bs-target="#leftconvo" 
                    (click)="getLesson(lesson)">
                        <i class="fas fa-user-minus"></i> Retirarse
                    </button>
                </ng-template>
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
            <!-- /modal-footer -->

        </div>
    </div>
</div>
<!-- /lesson call modal-->

<!-- Modal warning left group -->
<div class="modal fade" id="leftconvo" tabindex="-1" role="dialog" aria-labelledby="leaveGroup" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="leftconvocatoria">Retirarse del  grupo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="alert alert-warning mb-0" role="alert">
                    <i class="fas fa-exclamation-triangle icon-message me-2"></i>
                    ¿Estas seguro que quieres retirarte de este grupo de desarrollo?
                </div>
            </div>
            <div class="modal-footer">
                <button class=" btn btn-danger" data-bs-dismiss="modal" (click)="abandonLesson()">Sí</button>
                <button class="btn btn-primary text-white" data-bs-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>
<!-- /Modal warning-->