<!-- Resources add modal-->
<div class="modal fade" id="add" tabindex="-1" aria-labelledby="addTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="modal-content" enctype="multipart/form-data"
            (input)="onChanges()">
            <!-- modal-header -->
            <div class="modal-header">
                <h5 class="modal-title" id="addTitle">Agregar un recurso</h5>
                <button type="button" class="buttonClose" #closeBtn data-bs-dismiss="modal" style="display: none;"> Close</button>
                <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#cancelModal"  aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- /modal-header -->

            <!-- modal-body -->
            <div class="modal-body">

                <div *ngIf="status === 'error'; successMessage" class="alert alert-danger fade show text-center"
                    role="alert">
                    <i class="fas fa-times-circle icon-message me-2"></i>
                    {{errorMsg}}
                </div>

                <div *ngIf="status === 'success'; successMessage" class="alert alert-success fade show text-center"
                    role="alert">
                    <i class="fas fa-check-circle icon-message me-2"></i>
                    {{successMsg}}
                </div>
                
                <div *ngIf="status === 'warning'; successMessage" class="alert alert-warning fade show text-center"
                    role="alert">
                    <i class="fas fa-check-circle icon-message me-2"></i>
                    {{warningMsg}}
                </div>
                <div *ngIf="status === 'deleted'; successMessage" class="alert alert-primary fade show text-center"
                    role="alert">
                    <i class="fas fa-check-circle icon-message me-2"></i>
                    {{deletedMsg}}
                </div>  


                <div *ngFor="let field of fields" class="mb-3 row">

                    <label for="{{field.id}}" class="col-3 col-form-label">
                        <strong>{{field.label}}<span *ngIf="field.required">*</span></strong>
                    </label>

                    <div class="col-9">
                        <input *ngIf="field.type == 'text'" type="text" class="form-control" id="{{field.id}}"
                            autocomplete="off" formControlName="{{field.id}}"
                            [ngClass]="{ 'is-invalid': submitted && f[field.id].errors}">

                        <textarea *ngIf="field.type === 'textarea'" class="form-control" id="{{field.id}}" rows="3"
                            formControlName="{{field.id}}" [ngClass]="{ 'is-invalid': submitted && f[field.id].errors}">
                            </textarea>

                        <select *ngIf="field.type == 'select'" formControlName="{{field.id}}" class="form-control"
                            id="{{field.id}}" [ngClass]="{'is-invalid': submitted && f[field.id].errors}"
                            (input)="setDisabled()">
                            <option *ngFor="let option of field.options" value="{{option.value}}">
                                {{option.label}}</option>
                        </select>
                        <div *ngIf="field.type == 'file'">
                            <input *ngIf="field.type == 'file'" formControlName="{{field.id}}" type="file"
                                class="form-control" name="file" id="{{field.id}}" (change)="fileChangeEvent($event)"
                                [ngClass]="{'is-invalid': submitted && f[field.id].errors|| maxSizeError}">

                            
                            <div class="progress" *ngIf="(filesToUpload != null || barWidth!='0%')">
                                <div #progress  class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [style.width]="barWidth"
                                 aria-valuenow="barWidth" aria-valuemin="0" aria-valuemax="100">{{barWidth}}</div>
                            </div>
                            <div *ngIf="maxSizeError && field.id == 'file'" class="invalid-feedback">
                                <div *ngIf="maxSizeError">
                                    El archivo es demasiado grande, el tamaño maximo permitido es de 20MB.
                                </div>
                            </div>
                        </div>
                        <div *ngIf="submitted && f[field.id].errors" class="invalid-feedback">
                            <div *ngIf="f[field.id].errors.required">
                                El campo {{field.label}} es obligatorio.
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /modal-body -->

            <!-- modal-footer -->
            <div class="modal-footer">
                <div data-bs-toggle="modal" data-bs-target="#cancelModal" >
                    <button type="button" class="btn btn-danger"   >Cancelar</button>
                </div>
                <button type="submit" [disabled]="loading" class="btn btn-success">
                    <span *ngIf="loading && !addForm.invalid" class="spinner-border spinner-border-sm" role="status"
                           aria-hidden="true"></span>
                    <span class="visually-hidden">Guardar</span>
                        Guardar
                </button>
            </div>
            <!-- /modal-footer -->

        </form>


    </div>
</div>
<!-- /Resources suggest modal-->

<!-- Modal warning cancel resource -->
<div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelBtn" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cancelUpload">Cancelar recurso para el Repositorio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="alert alert-warning mb-0" role="alert">
                    <i class="fas fa-exclamation-triangle icon-message me-2"></i>
                    ¿Estas seguro que quieres Salir? Si continuas se cancelará el recurso que estés creando.
                </div>
            </div>
            <div class="modal-footer">
                <button class=" btn btn-danger" data-bs-dismiss="modal" (click)="restartValues()">Sí</button>
                <button class="btn btn-primary text-white" data-bs-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>
<!-- /Modal warning-->