<!-- Knowledge Areas -->
<div class="card">
    <div class="card-header">
        <h3 class="m-0 text-primary font-weight-bolder float-left">{{ title }}</h3>
        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#addArea" (click)="setAdd()">
            <i class="fas fa-plus"></i>
            <span class="ml-2">Agregar</span>
        </button>
    </div>

    <div *ngIf="loading" class="card-body">
        <div class="text-muted text-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div *ngIf="!loading && knowledgeAreas.length === 0" class="card-body">
        <h4 class="text-muted">No se han registrado áreas de conocimiento.</h4>
    </div>

    <div *ngIf="!loading && knowledgeAreas.length > 0" class="card-body">
        <table class="table table-sm table-hover table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Área de conocimiento</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let area of knowledgeAreas">
                    <td>{{ area.name }}</td>
                    <td>
                        <button type="button" class="btn btn-warning btn-sm mx-1" data-toggle="modal" data-target="#editArea" (click)="setEditArea(area)">
                            <i class="fas fa-pen-square"></i>
                            <span class="ml-2"><small>Editar</small></span>
                        </button>
                        <button type="button" class="btn btn-danger btn-sm mx-1" (click)="setDeleteArea(area._id)">
                            <i class="fas fa-trash"></i>
                            <span class="ml-2"><small>Eliminar</small></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal add -->
<div class="modal fade" id="addArea" tabindex="-1" role="dialog" aria-labelledby="addArea" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form [formGroup]="addForm" (ngSubmit)="onSubmit()" (input)="onChanges()">
                <div class="modal-header">
                    <h5 class="modal-title" id="addAreaTitle">Agregar una área de conocimiento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="status === 'error'" class="alert alert-danger fade show text-center" role="alert">
                        <i class="fas fa-times-circle icon-message mr-2"></i>
                        El área de conocimiento no fue agregada correctamente. Intentalo de nuevo.
                    </div>
                    <div *ngIf="status === 'success'" class="alert alert-success fade show text-center" role="alert">
                        <i class="fas fa-check-circle icon-message mr-2"></i>
                        El área de conocimiento fue agregada correctamente.
                    </div>
                    <div class="form-group row">
                        <label for="areaName" class="col-5 col-form-label"><strong>Área de conocimiento*</strong></label>
                        <div class="col-7">
                            <input type="text" class="form-control" id="areaName" formControlName="areaName" placeholder="Área de conocimiento" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f.areaName.errors }" (keydown)="onKeydown($event)">
                            <div *ngIf="submitted && f.areaName.errors" class="invalid-feedback">
                                <div *ngIf="f.areaName.errors.required">El campo Área de conocimiento es obligatorio.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button id="save" type="submit" class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal edit -->
<div class="modal fade" id="editArea" tabindex="-1" role="dialog" aria-labelledby="editArea" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()" (input)="onChanges()">
                <div class="modal-header">
                    <h5 class="modal-title" id="editAreaTitle">Editar área de conocimiento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="status === 'error'" class="alert alert-danger fade show text-center" role="alert">
                        <i class="fas fa-times-circle icon-message mr-2"></i>
                        El área de conocimiento no fue editada correctamente. Intentalo de nuevo.
                    </div>
                    <div *ngIf="status === 'success'" class="alert alert-success fade show text-center" role="alert">
                        <i class="fas fa-check-circle icon-message mr-2"></i>
                        Se ha editado correctamente el área de conocimiento.
                    </div>
                    <div class="form-group row">
                        <label for="editAreaName" class="col-5 col-form-label"><strong>Área de conocimiento*</strong></label>
                        <div class="col-7">
                            <input type="text" class="form-control" id="editAreaName" formControlName="areaName" placeholder="Área de conocimiento" autocomplete="off" [ngClass]="{ 'is-invalid': submitted && f2.areaName.errors }" (keydown)="onKeydown($event)">
                            <div *ngIf="submitted && f2.areaName.errors" class="invalid-feedback">
                                <div *ngIf="f2.areaName.errors.required">El campo Área de conocimiento es obligatorio.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button id="save" type="submit" class="btn btn-warning">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>
