<!-- admin-menu -->
<div class="container">
    <div class="row py-3">
      <div class="col-12 col-md-3" style="position:relative;">
        <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-controls="adminMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="accordion" id="menu" style="width:100%; position:relative;">
          <div class="card rounded">
            <div class="card-header bg-secondary text-white" (click)="toggleMenu()">
              <h4 class="card-title text-center mb-0">
                <strong>{{title}}</strong>
                <i class="fas" [ngClass]="{'fa-chevron-up': isMenuCollapsed, 'fa-chevron-down': !isMenuCollapsed}"></i>
              </h4>
            </div>
          </div>
  
          <div class="collapse" [ngClass]="{'show': isMenuCollapsed}" id="adminMenu">
            <div *ngFor="let option of menuOptions, let ix = index" class="card mt-2 rounded">
              <button type="button"
                class="btn w-100 text-start d-flex justify-content-between py-2 {{option.buttonClass}}"
                data-bs-toggle="collapse" attr.data-bs-target="#{{option.id}}" aria-expanded="true"
                attr.aria-controls="{{option.id}}">
                <div>
                  <i class="text-light fas {{option.iconClass}}"></i>
                  <span class="ms-2"> {{option.spanContent}} </span>
                </div>
                <span><i class="text-light fas fa-sort-down"></i></span>
              </button>
  
              <div id="{{option.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#menu">
                <div class="card-body py-2 px-0">
                  <ul class="nav flex-column">
                    <li *ngFor="let subOption of option.subOptions" class="nav-item">
                      <a class="nav-link dropdown-item text-start" [routerLink]="[subOption.routerLink]"
                        routerLinkActive="active">{{subOption.text}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /admin-menu -->
  
      <div class="col-12 col-md-9 ps-0">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  