<!-- admin-menu -->
<div class="container">
    <div class="row py-3">
      <div class="col-12 col-lg-3 col-md-4">
        <button class="navbar-toggler" type="button" (click)="toggleMenu()" aria-controls="adminMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="admin-sidebar">
          <!-- Header del menú admin -->
          <div class="admin-header" (click)="toggleMenu()">
            <h4 class="d-flex justify-content-between align-items-center">
              <span>
                <i class="fas fa-user-cog me-2"></i>
                <strong>{{title}}</strong>
              </span>
              <i class="fas dropdown-icon" [ngClass]="{'fa-chevron-up': isMenuCollapsed, 'fa-chevron-down': !isMenuCollapsed}"></i>
            </h4>
          </div>
  
          <!-- Menú colapsable -->
          <div class="collapse admin-menu" [ngClass]="{'show': isMenuCollapsed}" id="adminMenu">
            <div *ngFor="let option of menuOptions, let ix = index" class="admin-menu-item">
              <button type="button"
                class="admin-menu-btn d-flex justify-content-between align-items-center"
                data-bs-toggle="collapse" 
                attr.data-bs-target="#{{option.id}}" 
                [attr.aria-expanded]="false"
                attr.aria-controls="{{option.id}}">
                <div class="d-flex align-items-center">
                  <i class="fas {{option.iconClass}}"></i>
                  <span>{{option.spanContent}}</span>
                </div>
                <i class="fas fa-chevron-down dropdown-icon"></i>
              </button>
  
              <div id="{{option.id}}" class="collapse admin-submenu" data-bs-parent="#adminMenu">
                <ul class="nav flex-column">
                  <li *ngFor="let subOption of option.subOptions" class="nav-item">
                    <a class="nav-link" [routerLink]="[subOption.routerLink]"
                      routerLinkActive="active">
                      <i class="fas fa-angle-right me-2"></i>
                      {{subOption.text}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /admin-menu -->
  
      <div class="col-12 col-lg-9 col-md-8">
        <div class="admin-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  